 
 
<div class="content-body">
    <div class="container">
      <div class="row">

        <%- include('blocks/side_menu.ejs') %> 
        <h1 style="text-align: center;">আডমিন প্যানেলে আপনাকে স্বাগতম</h1>
        <p class="lead" style="text-align: center;">এখানে আপনি আপনার কন্টেন্ট নিয়ন্ত্রণ করতে পারবেন।</p>
      </div>
    </div>
</div>