<footer id="site-footer">
			<div class="container">
				<div class="row">
					
					<div class="col-md-12">
						<p class="copyright"> “মুমিনদের মধ্যে কতক পুরুষ আল্লাহর সাথে যে প্রতিশ্রুতি (ওয়াদা) করেছেন, তা পালন করেছেন। তাদের কেউ কেউ তা পূর্ণ করেছেন (শহীদ হয়ে), আর কেউ অপেক্ষা করছে; তারা তাদের ওয়াদায় কোনো পরিবর্তন আনেনি।”-সূরা আহযাব (৩৩:২৩)</p>
					</div>
					<div class="col-md-12">
						<div class="height-40px"></div>
						<!-- <h2 class="title text-center">Social</h2> -->
						<ul class="social">
							<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
							<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
							<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
							<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="/">হোম</a></li>
					<!-- <li><a href="/contact">প্রশ্নকরুন</a></li> -->
					<li><a href="/about">পরিচয়</a></li>
					<!-- <li><a href="/contact">যোগাযোগ</a></li> -->
				</ul>
			</nav>
		</div>

		<script src="js/script.js"></script>

	</body>
</html>
