


<div class="content-body">
  <div class="container">
    <div class="row">

      <%- include('blocks/index-banner.ejs') %>
      <%- include('blocks/featured-post.ejs') %>
      <%- include('blocks/sidebar.ejs') %>

    </div>
  </div>
</div>
