<div class="content-body">
  <div class="container">
    <div class="row">
      		
          <%- include('blocks/post-full.ejs') %>
          <%- include('blocks/sidebar.ejs') %>
    </div>
  </div>
</div>