<aside class="col-md-4 mb-4">
    <div class="card bg-light shadow-sm">
      <div class="card-header bg-dark text-white font-weight-bold">
        ЁЯУЛ ржЕрзНржпрж╛ржбржорж┐ржи ржорзЗржирзБ
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/admin/dashboard/adduser" class="d-block text-dark font-weight-normal">тЮХ ржЗржЙржЬрж╛рж░ ржпрзЛржЧ ржХрж░рзБржи</a>
        </li>
        <li class="list-group-item">
          <a href="/admin/dashboard/addcategory" class="d-block text-dark font-weight-normal">тЮХ ржХрзНржпрж╛ржЯрж╛ржЧрж░рж┐ ржпрзЛржЧ ржХрж░рзБржи</a>
        </li>
        <li class="list-group-item">
          <a href="/admin/dashboard/addauthor" class="d-block text-dark font-weight-normal">тЮХ рж▓рзЗржЦржХ ржпрзЛржЧ ржХрж░рзБржи</a>
        </li>
        <li class="list-group-item">
          <a href="#" class="d-block text-dark font-weight-normal">тЮХ ржкрзЛрж╕рзНржЯ ржпрзЛржЧ ржХрж░рзБржи</a>
        </li>
        <li class="list-group-item">
          <a href="#" class="d-block text-dark font-weight-normal">ЁЯУВ рж╕ржХрж▓ ржХрзНржпрж╛ржЯрж╛ржЧрж░рж┐</a>
        </li>
        <li class="list-group-item">
          <a href="#" class="d-block text-dark font-weight-normal">ЁЯУЭ рж╕ржХрж▓ ржкрзЛрж╕рзНржЯ</a>
        </li>
        <li class="list-group-item">
          <a href="#" class="d-block text-dark font-weight-normal">тЬНя╕П рж╕ржХрж▓ рж▓рзЗржЦржХ</a>
        </li>
        <li class="list-group-item">
          <a href="#" class="d-block text-dark font-weight-normal">ЁЯСд рж╕ржХрж▓ ржЗржЙржЬрж╛рж░</a>
        </li>
        <li class="list-group-item">
          <a href="#" class="d-block text-danger font-weight-bold">ЁЯЪк рж▓ржЧржЖржЙржЯ</a>
        </li>
      </ul>
    </div>
  </aside>
  
  