<div class="widget widget-category">		
    <h3 class="widget-title">Category</h3>		
    <ul>
        <li>
            <a href="#">Web Design</a>
        </li>
        <li>
            <a href="#">Web Development</a>
        </li>
        <li>
            <a href="#">SEO</a>
        </li>
    </ul>
</div>