

<% let recentPosts = post.slice(0,8); %>
<div class="widget widget-recent-posts">		
    <h3 class="widget-title">নতুন লেখাসমূহ</h3>		
    <ul>
        <% recentPosts.forEach(item => { %>
        <li>
            <a href="/posts/<%= item.id %> "><%= item.title %> </a>
        </li>
        <% }); %> 
        
    </ul>
</div>

