<div class="widget widget-archives">		
    <h3 class="widget-title">আর্কাইভ</h3>		 
    <ul>
        <% archive.archive.forEach(item => { %>
        <li>
            <a href="/archive/<%= item.month_num %>/<%= item.year %>"><%= item.month_name %> <%= item.year %></a>
        </li>
        <% }); %> 
    </ul>
</div>