<div class="widget widget-category">		
    <h3 class="widget-title">বিষয়</h3>		
    <ul>
        <% category.forEach(item => { %>
        <li>
            <a href="/posts/category/<%= item.id %>"><%= item.name %></a>
        </li>
        <% }); %> 
        
    </ul>
</div>