<div class="widget widget-recent-posts">		
    <h3 class="widget-title">Recent Posts</h3>		
    <ul>
        <li>
            <a href="#">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
        </li>
        <li>
            <a href="#">Web Design is 95% Typography</a>
        </li>
        <li>
            <a href="#">Paper by FiftyThree</a>
        </li>
    </ul>
</div>